<footer>
	<ul>
		<li><a href="http://www.ethanjoachimeldridge.info">Created By E.J. Eldridge</a>
		<li><a href="http://github.com/EJEHardenberg/whoseopinion.com">Source Code</a>
		<li><a href="https://github.com/EJEHardenberg/whoseopinion.com/blob/master/LICENSE">License</a>
		<li><a href="/privacy-data-policy">Privacy &amp; Data Policy</a>
	</ul>
</footer>