<header>
	
	<h1>Your Opinion Matters</h1>
</header>
<nav>
	<span name="vote-help" title="Click for Help">(?)</span>
	<h3>On</h3>
	<ul>
		<li><a href="/">Popular</a></li>
		<%
		for(idx in categories){
			var category = categories[idx]
			function captilize(str){
				return str.charAt(0).toUpperCase() + str.substr(1)
			}
			%>
			<li><a href="/category/?c=<%= category %>"><%= captilize(category) %></a><%
		} 
		%>
	</ul>
	<%- partial("footer") %>
</nav>