<header>
	<h1>Your Opinion Matters</h1>
</header>
<nav>
	<span name="vote-help" title="Click for Help">(?)</span>
	<h3 name="category-header">Category</h3>
	<ul id="category-list">
		<li><a href="/#category-list:-1">Popular</a></li>
	</ul>
	<%- partial("footer") %>
</nav>