<%
/* Create the segments of information to be shown by the tool tip engine, id'd 
 * in such a way as to make it very easy to program the javascript
*/
public.tutorialInUse = true
%>
<div id="tutorial-dialogs" style="display: none;">
	<div id="welcome">
		<p>
			Welcome! Is this your first time?
		</p>
		<ul>
			<li><a name="yes" href="#yes">Yes</a>
			<li><a name="no" href="#no">No</a>
		</ul>
	</div>
</div>