<%
/* Create the segments of information to be shown by the tool tip engine, id'd 
 * in such a way as to make it very easy to program the javascript
*/
public.tutorialInUse = true
%>
<div id="tutorial-dialogs" style="display: none;">
	<div id="welcome">
		<p>
			Welcome! Is this your first time?
		</p>
		<ul>
			<li><a name="yes" href="#yes">Yes</a>
			<li><a name="no" href="#no">No</a>
		</ul>
	</div>
	<div id="vote-help">
		<h4>Guide to voting</h4>
		Do you think this statement
		<dl>
			<dt>is horribly wrong? Or out of touch with reality?</dt>
			<dd>Outraged</dd>
			<dt>is wrong, but would agree to disagree?</dt>
			<dd>Disagree</dd>
			<dt>is correct, but could agree to disagree with someone?</dt>
			<dd>Agree</dd>
			<dt>is true, and would try to change other people's minds if they didn't?</dt>
			<dd>Support</dd>
		</dl>
	</div>
</div>