<%
/* Create the segments of information to be shown by the tool tip engine, id'd 
 * in such a way as to make it very easy to program the javascript
*/
public.tutorialInUse = true
%>
<div id="tutorial-dialogs" style="display: none;">
	<div id="welcome">
		<p>
			Welcome! Is this your first time?
		</p>
		<ul>
			<li><a name="yes" href="#yes">Yes</a>
			<li><a name="no" href="#no">No</a>
		</ul>
	</div>
	<div id="vote-help">
		<p>
			If you think a statement is inflamatory, insensitive, or just plain
			wrong, vote <b>Outraged</b>. If you find that you think the person is
			wrong, but that you could see their opinion, agree to <b>disagree</b>.
		</p>
		<p>
			What's the difference between <b>agree</b> and <br>support</b>? Simple,
			if you agree with a statement, but probably wouldn't debate or argue
			with someone about it and agree to disagree, <b>agree</b> is the right
			choice for you. If you'd be more inclined to quarrel with someone and
			try to change their opinion, <b>support</b>'s for you.
		</p>
	</div>
</div>