.Transition{
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
	/* ...and now for the proper property */
    transition:.5s;
}

@scaleColor: #000;
@from: 1;
@to: 5;
.scale(@idx) when(@idx =< @to){
	&:nth-child(@{idx}){
		.Transition;
		background-color: lighten(@scaleColor, @idx*20);
		color: black;
		font-weight: bold;
		&:hover{
			background-color: darken(lighten(@scaleColor, @idx*20), 30);
			color: white;
		}
	}
	.scale(@idx + 1);
}

#statistics{
	border: thick solid black;
	background-color: white;	
	margin: 0 auto;
	text-align: center;
	h2{
		background-color: cornflowerblue;
		margin: 0;
		padding: 0;
	}
	div[id=map]{
		margin: 0 auto;
		text-align: center;
	}
	div{

		ul{
			padding: 0px;
			list-style-type: none;
			li{
				.scale(1);
				text-align: center;
				color: white;
				vertical-align: middle;
				display: inline-block;
				min-height: 2em;
				min-width: 20%;
				max-width: 20%;
				border: none;
				cursor: crosshair;
			}
		}
	}
}
#cboxClose{
	position: absolute;
	width: 100%;
	cursor: pointer;
	background-color: white;
	border-bottom-color: cornflowerblue;
	border-bottom-width: .5em;
	border-top-color: red;
	border-top-width: .5em;
	border-radius: 2em;
	outline: none;
}
#cboxClose:hover{
	outline: none;
	border-color: white;
	color: green;
}