*{
	margin: 0;
	padding: 0;
}

/* color pallette */
@baseColor2: #00B233;
@baseColor: #00661D;
@midColor: #19FF5A;
@midComplement: #660000;
@complimentColor: #B20000;

@bgColor: @baseColor;
@bottom: 1;
@middle: 2;
@top: 3;
@gutter: 10px;
@headerHeight: 2em;
@headerPad: .25em;
@helpButtonBg: @complimentColor;

.Transition{
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
	/* ...and now for the proper property */
    transition:.5s;
}

html{

	height: 100%;
	position: relative;
	overflow-x: hidden;
	body{
		height:  100%;
		background-color: @bgColor;
		header{
			background-color: @midComplement;
			color: white;
			text-align: center;
			z-index: @bottom;
			width: 100%;
			display: block;
			height: @headerHeight;
			padding: @headerPad;
			
		}
		/* Left navigation */
		span[name='vote-help']{
			text-align: center;
			padding-top: @headerPad*2;
			font-weight: bold;
			padding-bottom: @headerPad;
			.Transition;
			width: 8em;
			border: thin solid black;
			/* font-size: 26px; */
			z-index: @middle;
			height: @headerHeight - @headerPad*2;
			float: left;
			background-color: @helpButtonBg;
			color: white;
			
			&:hover{
				color: green;
				cursor: pointer;
				border: thin dashed green;
				background-color: lighten(@helpButtonBg,10);
			}
		}
		nav{
			top: 0;
			position: fixed;
			padding: @headerPad;
			padding-right: 0;
			padding-top: 0;
			padding-left: 0;
			background-color: @baseColor2;
			z-index: @middle;
			width: 8em;
			float: left;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			text-align: right;
			h3 + ul{
				width: 100%;
				li{
					padding: @gutter;
					padding-right: 0;
					a{
						.Transition;
						border-top-left-radius: .25em;
						border-bottom-left-radius: .25em;
						background-color: @midColor;
						padding: @gutter/2;
						padding-right: @gutter + @headerHeight;
						&:hover{
							background-color: @baseColor;
						}
					}
					
				}
			}
		}
		/* Main content area,  */
		section{
			z-index: @bottom;
			text-align: center;
			.question{
				padding: @gutter;
				margin: @gutter;
				display: inline-block;
			}
		}
		/* Slide in information */
		article{
			z-index: @top;
			position: absolute;
			left: 100vw;
			width: 50vw;
			top: @headerHeight;
			background-color: white;
			hr{
				border-left: thick solid black;
				min-height: 100vh;
				float: left;
				min-width: 1em;
				background-color: silver;
			}
		}
		footer{
			background-color: @midColor;
			position: fixed;
			bottom: 0;
			text-align: left;
			li{
				padding: .25em;
				font-size: 12px;
			}
		}
	}
}