@questionRadius: 2em;
@fontSize: 130%;
@bgColor: cornflowerblue; /* Color of the U.N. Flag */
@topStripeColor: red;
@middleStripeColor: white;
@bottomStripeColor: blue;
@gutterSize: 10px;

p, h2{
	text-align: center;
	font-style: italic;
}	

html{
	background-color: @bgColor;
	font-size: @fontSize;

	h1,h2,h3{
		font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	}
	body{
		margin: 0px;
		height: 100vh;
	}
	.question{
		zoom: .75;
	}
	header, .question{
		margin: 0px;	
		outline: solid thin black;
		outline: none;
		h1,p{
			padding: 5px;
			background-color: @middleStripeColor;	
		}
		div:first-child{
			background-color: @topStripeColor;
		}
		div:last-child{
			background-color: @bottomStripeColor;
		}
		> *{
			min-height: 1em;
			margin: 0;
			padding: 0;
			text-align: center;	
		}
	}
	nav{
		min-height: 100vh;
		height: 100%;
		display: inline-block;
		padding: @gutterSize;
		background-color: @bottomStripeColor;
		color: @middleStripeColor;
		vertical-align: top;
		margin-right: 0px;
		padding-right: 0px;
		h3{
			padding: 0px;
			margin: 0px;
			display: inline-block;
		}
		ul{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			li{
				font-style: italic;
				padding: 0;
				margin: 0;
				a{
					border-bottom-left-radius: @questionRadius;
					border-top-left-radius: @questionRadius;
					padding: @gutterSize/2;
					width: 100%;
					display: block;
					color: @middleStripeColor;
					-o-transition:.5s;
		  			-ms-transition:.5s;
		  			-moz-transition:.5s;
		  			-webkit-transition:.5s;
		  			/* ...and now for the proper property */
		  			transition:.5s;
				}
				a:hover{
					background-color: @bgColor;
				}
			}
		}
	}
	#content{
		display: inline-block;
	}
	
	.question{
		margin: @gutterSize;
		margin-left: 0px;
		width: 30em;
		outline: none;
		div:first-child{
			border-top-left-radius: @questionRadius;
			border-top-right-radius: @questionRadius;
			font-style: italic;
			text-align: right;
			span{
				position: relative;
				right: 20px;
			}
		}
		p{
			font-style: normal;
			min-height: @questionRadius;

		}
		div:last-child{
			color: @middleStripeColor;
			border-bottom-right-radius: @questionRadius;
			border-bottom-left-radius: @questionRadius;
			form{
				label,input[type=radio],input[type=submit], button{
					cursor: pointer;
				}	
				div{
					margin-left: 10%;
					width: 80%;
					input[type=submit],button{
						min-width: 10em;
						border-color: lighten(@bottomStripeColor, 20);
						border-radius: 1em;
					}
					input[type=submit]:hover,button:hover{
						padding-left: @gutterSize/2;
						padding-right: @gutterSize/2;
						border-color: @middleStripeColor;
						color: green;
					}
					span{
						font-weight: bold;
						cursor: help;
					}
					span:hover{
						color: green;
					}
				}
			}
		}
	}
	footer{
		width: 100%;
		background-color: white;
		margin-left: 0;
		padding-top: @gutterSize;
		padding-bottom: @gutterSize;
		ul{
			list-style-type: none;
			li{
				display: inline-block;
				margin: @gutterSize;
			}
		}
	}
	#colorbox{
		background-color: @middleStripeColor;
		outline: none;
	}
	#cboxClose{
		cursor: pointer;
		border-color: lighten(@bottomStripeColor, 20);
		border-radius: 1em;
		min-width: 10em;
	}
}

