#statistics{
	background-color: white;	
	div{
		ul{
			padding: 0px;
			list-style-type: none;
			li{
				text-align: center;
				color: white;
				vertical-align: middle;
				display: inline-block;
				min-height: 2em;
				min-width: 20%;
			}
		}
	}
}