<section id="questions" >
<% 
	for (var i = questions.length - 1; i >= 0; i--){
	 	var q = questions[i] %><%-
		partial("_inc/question",
		{ 	category: q.category, 
			text: q.statement,
			id: i
		}) %><%
	};
%>
</section>
<article>
	<div></div>
</article>