<head>
<%- partial("_inc/styles") %>
</head>
<div id="statistics">
	<script type="text/javascript">
		window.dummyMapInfo = <%- JSON.stringify(dummydata.statistics) %>
		window.labelColors = <%- JSON.stringify(labelColors) %>
	</script>
	<%- partial("_inc/scripts.ejs") %>
	<h2>Opinion Demographics</h2>
	
    <link rel="stylesheet" type="text/css" href="/style/usa.css">
	<div id="map" width="560px" height="300px">
		<object type="image/svg+xml" width="560px" height="300px" data="/svgs/usa.svg">Your browser does not support SVG</object>
	</div>
	<svg id="svg_chart" width="400px" height="250px"></svg>
	<div>
		<p>
			Ever wonder where the people who think like you are?
		</p>
	</div>
</div>