<div id="statistics">
	<script type="text/javascript">
		window.dummyMapInfo = <%- JSON.stringify(dummydata.statistics) %>
	</script>
	<%- partial("_inc/scripts.ejs") %>
	<div id="map" style="width: 300px; height: 300px;"></div>
	<div>
		<ul><% 
			var ranks = ["red", "orange","blue","olive","green"]
			for(r in ranks){
				var color = ranks[r] %>
				<li style="background-color: <%= color %>"></a><%
			} %>
		</ul>
	</div>
</div>